In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from config.configuration import DATA_FOLDER_PATH

In [31]:
# load data
sa = pd.read_csv(f"../../{DATA_FOLDER_PATH}/raw_data/SA_shopbetterbyai_raw_data.csv")
# data.set_index("#", inplace=True)

In [33]:
sa.sort_values(by=['#', 'Iteration'], inplace=True)
# sa.set_index("#", inplace=True)
sa.reset_index(drop=True, inplace=True)

In [34]:
sa

      #  Iteration  Response
0     1          0         1
1     1          1         1
2     1          2         1
3     1          3         1
4     1          4         1
..   ..        ...       ...
845  17         45         1
846  17         46         1
847  17         47         1
848  17         48         1
849  17         49         1

[850 rows x 3 columns]

In [7]:
sa.dtypes

Iteration    int64
Response     int64
dtype: object

In [40]:
# Calculate averages
sa_avg = pd.DataFrame(sa.groupby('#')["Response"].mean())

sa_avg.rename({"Response": "Average"}, axis=1, inplace=True)

In [41]:
sa_avg

    Average
#
1      1.00
2      1.72
3      1.00
4      1.00
5      2.98
6      3.64
7      2.26
8      1.62
9      1.00
10     1.06
11     2.30
12     1.00
13     1.00
14     1.00
15     5.00
16     5.00
17     1.08

In [ ]:
slices = [slice(0,4), slice(4, 9), slice(9, 14), slice(14,16), slice(16,None)]
labels = ["RM", "SE", "TV", "PDC", "NDC"]