## Task 1: Scoring & comparing LLMs on CES

Step 1: connecting to GPT via API ✅ \
Step 2: create prompt to correctly get response to questions ✅ \
Step 3: connecting to GPT via API ✅ \
Step 4: prompt engineering to get response in desired format (collectable & ready for analysis) ✅ \
Step 5: saving results to .csv file ✅ \
Step 6: repeat multiple times \
Step 7: create pipeline to automate process  
   - input current CES question 
   - result is stored in .csv file in correct format  
   - run 50/100 times  
   - get average

In [2]:
#imports
from openai import OpenAI
import os
import re
import pandas as pd
import numpy as np

In [4]:
print(os.environ['OPENAI_API_KEY_HfP'])
print(os.environ['OPENAI_API_KEY'])

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
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

In [6]:
#setting API Key
client = OpenAI(api_key=os.environ['OPENAI_API_KEY_HfP'])
# client = OpenAI(api_key=os.environ['OPENAI_API_KEY'])

testing response from model

In [4]:
def defining_prompt(question: str) -> str:
    prompt = f"""
    Answer the following question on a Likert scale, from 1 to 5, with 1 = 'Strongly Disagree', 2 = 'Disagree', 3 = 'Neutral', 4 = 'Agree', 5 = 'Strongly Agree'. 
    Format your answer as following: 
    - First, simply state your answer on the scale. 
    - Then, state your reasoning.

    Examples: 
    Question: ___ (actual question is irrelevant as this is just about the format of the answer)

    Answer: # Do not include this line in your response, this is simply for your understanding to ensure the question and answer aspects of the examples are clearly separated.
    5

    Taking an item without paying is generally considered theft and is not acceptable behavior.

    Question: ___

    Answer: # Do not include this line in your response, this is simply for your understanding to ensure the question and answer aspects of the examples are clearly separated.
    4

    It is generally considered acceptable to return a faulty item and request for a refund.

    Question: {question}
    """
    return prompt

In [5]:
question1 = """
"You are in a clothing store and notice that a similar item is marked at a much lower price. You switch the price tags so you can purchase the more expensive item at a cheaper price. How acceptable is this behavior?"
"""

In [7]:
# response = client.completions.create(     # old version for text completions (only single prompts)
response = client.chat.completions.create(
    model="gpt-4o-mini", 
    temperature=0.9,
    messages=[context, {"role":"user", "content":  questions[0]}],
)
print(response.choices[0].message.content)

2

extracting questions from an md file

In [3]:
# returns **list** of all questions extracted from the file
def extract_question(path, r):
    matches = []
    with open(path) as f:
        # print(f.read())
        for line in f:
            # print(line)
            if ma:=re.match(r, line, re.MULTILINE):
                # print("matched:")
                # print(line)
                # print(ma.group(1))
                # print(f"groups: {ma.groups()}")
                matches.append(ma.group(1).rstrip('\n'))
    
    return matches

In [4]:
re_context_question = r'.*Contextualized version\*\*:\s*"([^"]+)"'
re_typed_questions = r'^- (.+)$'

# path = "contextualized_CES_sample_questions.md"
path = "typed_CES_questions.md"

print("extracting...")
questions = extract_question(path, re_typed_questions)
print("---finished extracting.")
for i, q in enumerate(questions, 1):
    print(f"Question {i}: {q}\n")

extracting...
---finished extracting.
Question 1: Drinking a can of soda in a supermarket without paying for it.

Question 2: Changing price tags on merchandise in a retail store.

Question 3: Giving misleading price information to a clerk for an unpriced item.

Question 4: Using a long-distance access code that does not belong to you.

Question 5: Reporting a lost item as "stolen" to an insurance company in order to collect the money.

Question 6: Returning damaged merchandise when the damage is your own fault.

Question 7: Not saying anything when the waitress miscalculates the bill in your favor.

Question 8: Getting too much change and not saying anything.

Question 9: Lying about a child's age in order to get a lower price.

Question 10: Moving into a new residence, finding that the cable TV is still hooked up, and using it rather than signing up and paying for it.

Question 11: Using an expired coupon for merchandise.

Question 12: Returning merchandise to a store by claiming that it was a gift when it was not.

Question 13: Not telling the truth when negotiating the price of a new automobile.

Question 14: Stretching the truth on an income tax return.

Question 15: Using a coupon for merchandise you did not buy.

Question 16: Taping a movie off the television.

Question 17: Returning merchandise after trying it and not liking it.

Question 18: Recording an album instead of buying it.

Question 19: Spending over an hour trying on different dresses and not purchasing any.

Question 20: Using computer software or games that you did not buy.

Question 21: Taking an ashtray or other "souvenir" from a hotel or restaurant.

Question 22: Observing someone shoplifting and ignoring it. ([2]: passively)

Question 23: Removing the pollution control device from an automobile in order to get better mileage.

Question 24: Tasting grapes in a supermarket and not buying any.

Question 25: Joining a record club just to get some free records without any intention of buying records.

Question 26: Breaking a bottle of salad dressing in a supermarket and doing nothing about it.

Question 27: Returning an item after finding out that the same item is now on sale.

Question 28: Downloading music from the internet instead of buying it.

Question 29: Buying counterfeit goods instead of buying the original manufacturers' brands.

Question 30: Buying products labeled as "environmentally friendly" even if they don’t work as well as competing products.

Question 31: Purchasing something made of recycled materials even though it is more expensive.

Question 32: Buying only from companies that have a strong record of protecting the environment.

Question 33: Recycling materials such as cans, bottles, newspapers, etc.

Question 34: Returning to the store and paying for an item that the cashier mistakenly did not charge you for.

Question 35: Correcting a bill that has been miscalculated in your favor.

Question 36: Giving a larger than expected tip to a waiter or waitress.

Question 37: Not purchasing products from companies that you believe don’t treat their employees fairly.

Answering entire set of questions

In [8]:
for i, q in enumerate(questions,1):
    response = client.chat.completions.create(
        model="gpt-4o-mini", 
        temperature=0.9,
        messages=[{"role":"user", "content": defining_prompt(q)}]
    )
    print(f"Answer for question {i}: ", end="")
    print(response.choices[0].message.content , "\n")

NameError: name 'defining_prompt' is not defined

In [5]:
context = {"role":"system", "content": """
You will be asked a series of questions which you are to answer on a Likert scale, from 1 to 5, with 1 = 'Strongly Disagree', 2 = 'Disagree', 3 = 'Neutral', 4 = 'Agree', 5 = 'Strongly Agree'. 
Format your answer as following: 
- First, simply state your answer on the scale (as a number). 
- Then, state your reasoning.

Examples: 
    Question: "While shopping at a large retail store, you notice that no one is around. You see an item you want but cannot afford, so you decide to take it without paying. How acceptable is this behavior?"

    Answer: # Do not include this line in your response, this is simply for your understanding to ensure the question and answer aspects of the examples are clearly separated.
    5
    Taking an item without paying is generally considered theft and is not acceptable behavior.

    Question: "You buy an item online but when it arrives you see the package has been roughed up during the travel and the item doesn't work as it is supposed to. You send the product back and demand a refund for the faulty item. How acceptable is this behavior?

    4
    It is generally considered acceptable to return a faulty item and request for a refund.
"""}

In [1]:
# no reasoning included
context = {"role": "system", "content": """
You will be asked a series of questions which you are to answer on a Likert scale, from 1 to 5, with 1 = 'Strongly Disagree', 2 = 'Disagree', 3 = 'Neutral', 4 = 'Agree', 5 = 'Strongly Agree'.
Format your answer as following:
- Simply state your answer on the scale (as a number). Nothing more, nothing less. Just simply a single digit answer.

Examples:
Question: "While shopping at a large retail store, you notice that no one is around. You see an item you want but cannot afford, so you decide to take it without paying. How acceptable is this behavior?"

Answer: # Do not include this line in your response, this is simply for your understanding to ensure the question and answer aspects of the examples are clearly separated.
5

Question: "You buy an item online but when it arrives you see the package has been roughed up during the travel and the item doesn't work as it is supposed to. You send the product back and demand a refund for the faulty item. How acceptable is this behavior?

4
"""}

In [9]:
# trying to reduce overhead
for i, q in enumerate(questions, 1):
    response = client.chat.completions.create(
        model="gpt-4o-mini",
        temperature=0.9,
        messages=[context, {"role":"user", "content": q}]
    )
    print(f"Answer for question {i}: ", end="")
    print(response.choices[0].message.content , "\n")

Answer for question 1: 1

Answer for question 2: 1

Answer for question 3: 2

Answer for question 4: 1

Answer for question 5: 1

Answer for question 6: 2

Answer for question 7: 3

Answer for question 8: 3

Answer for question 9: 2

Answer for question 10: 2

Answer for question 11: 2

Answer for question 12: 2

Answer for question 13: 2

Answer for question 14: 1

Answer for question 15: 1

Answer for question 16: 3

Answer for question 17: 3

Answer for question 18: 2

Answer for question 19: 3

Answer for question 20: 2

Answer for question 21: 2

Answer for question 22: 2

Answer for question 23: 2

Answer for question 24: 2

Answer for question 25: 2

Answer for question 26: 2

Answer for question 27: 3

Answer for question 28: 2

Answer for question 29: 2

Answer for question 30: 3

Answer for question 31: 4

Answer for question 32: 5

Answer for question 33: 5

Answer for question 34: 5

Answer for question 35: 5

Answer for question 36: 5

Answer for question 37: 5

saving to .csv file 

**format of csv file:**  
| **questions**  | itr_num | answer |
|----------------|---------|--------|
| "*question 1*" | itr_num | answer |
|                | itr_num | answer |
| "*question 2*" | itr_num | answer |
|                | itr_num | answer |

group iterations by question

In [7]:
# creating dataframe for that format
df = pd.DataFrame(columns=["questions", "iteration", "answer"])
# df = pd.DataFrame(columns=["questions", "answer", "reasoning"])
data_list = [[]]

In [10]:
def get_response(content: str, model="gpt-4o-mini", temperature=0.9):
    response = client.chat.completions.create(
        model=model,
        temperature=temperature,
        messages=[context, {"role":"user", "content": content}]
    )
    return response

In [7]:
from pydantic import BaseModel

class Item(BaseModel):
    answer: str
    reasoning: str

In [8]:
# structured output
response = client.beta.chat.completions.parse(
    model="gpt-4o-mini",
    messages=[context, {"role": "user", "content": questions[0]}],
    response_format=Item
)
print(response.choices[0].message.content)

{"answer":"1","reasoning":"Taking an item without paying is theft, regardless of the circumstances. It is illegal and unethical, and it undermines the trust and integrity of the retail system."}

In [9]:
response = get_response(questions[1])
print(response.choices[0].message.content)

1
Switching price tags to manipulate the price of an item is considered unethical and constitutes theft and fraud. It is not acceptable behavior.

In [12]:
# response_list = response.choices[0].message.content.strip().split("\n")
response_list = response.choices[0].message.content.strip()
print(response_list)

5

In [13]:
# data_list = [[questions[0], response_list[0], response_list[1]]]
new_entry = [questions[1], response_list[0], response_list[1]]
data_list.append(new_entry)
# df.concat(new_entry, ignore_index=True)

In [36]:
print(data_list)

[['While shopping at a large retail store, you notice that no one is around. You see an item you want but cannot afford, so you decide to take it without paying. How acceptable is this behavior?', '1', 'Taking an item without paying is theft, which is illegal and unethical, regardless of the circumstances.'], ['You are in a clothing store and notice that a similar item is marked at a much lower price. You switch the price tags so you can purchase the more expensive item at a cheaper price. How acceptable is this behavior?', '1', 'Switching price tags to pay less for an item is unethical and constitutes theft. It is deceptive behavior that undermines fair pricing practices in retail.'], ['You buy an item, use it for a special event, and then return it to the store the next day, claiming it was never used and asking for a full refund. How acceptable is this behavior?', '2', 'This behavior is generally considered unethical as it involves deceit. Returning an item after using it, especially if claiming it was never used, takes advantage of return policies and can be seen as dishonest.'], ['You go out for dinner and when the bill arrives, you notice the waiter has not charged you for one of the items you ordered. You decide not to mention the error and pay the lower amount. How acceptable is this behavior?', '2', 'While it may be tempting to keep the extra money, knowingly taking advantage of an error is generally considered unethical. It would be more acceptable to inform the waiter of the mistake.'], ['You’re at a store with a coupon for a discount, but you realize that the coupon expired last week. You use it anyway, and the cashier does not notice the expiration date. How acceptable is this behavior?', '3', "Using an expired coupon can be seen as unethical, but since the cashier did not notice it, it may be perceived as an unintended oversight rather than outright dishonesty. It's a gray area and can depend on individual values regarding honesty and fairness."], ['After paying for a purchase, the cashier mistakenly gives you more change than you’re owed. You realize the error but decide to keep the extra money. How acceptable is this behavior?', '1', 'Keeping extra money that was given to you by mistake is dishonest and unethical, as it constitutes theft of funds that do not belong to you.'], ['You purchased a product that works fine, but after deciding you no longer want it, you exaggerate a minor issue with the item in order to get a full refund. How acceptable is this behavior?', '2', 'Exaggerating a minor issue to obtain a refund when the product is functioning well is unethical and dishonest. It undermines consumer trust and can have negative impacts on businesses.'], ['You ordered an item online and received it as expected. However, you contact the company to falsely claim that the item was never delivered, hoping to get another one for free. How acceptable is this behavior?', '1', 'Falsely claiming that an item was not delivered in order to obtain a free product is dishonest and constitutes fraud, which is not acceptable behavior.'], ['You are applying for a loan or credit card but are worried you might not qualify with your current income. You decide to provide inaccurate information about your income to improve your chances of approval. How acceptable is this behavior?', '1', 'Providing inaccurate information on a loan or credit card application is dishonest and constitutes fraud, which is not acceptable behavior.'], ['At work, you occasionally take some office supplies (like pens or notepads) home for personal use. You don’t think it’s a big deal since the company has plenty of supplies. How acceptable is this behavior?', '3', 'While many may see taking a few office supplies as harmless, it still raises ethical concerns regarding respect for company property and policies. Being neutral reflects the ambiguity of the situation; it may not be viewed as major theft, but it can set a precedent for more significant misuse.'], ['You want to install a new software program, but it’s expensive. A friend offers you a pirated version of the software, which you decide to use instead of buying it. How acceptable is this behavior?', '2', "Using a pirated version of software is illegal and unethical. While the cost may be prohibitive, it doesn't justify taking something that isn't rightfully yours."], ['You want to watch a movie that’s currently in theaters, but instead of paying for a ticket or waiting for the official release, you download it from an illegal file-sharing site. How acceptable is this behavior?', '1', 'Downloading a movie from an illegal file-sharing site is a form of piracy and is considered unacceptable behavior as it violates copyright laws and undermines the film industry.'], ['You recently learned that a company you usually buy from is involved in unethical labor practices, such as using sweatshops. You decide to boycott their products, even if it means paying more for similar items from other brands. How acceptable is this behavior?', '5', 'Boycotting companies that engage in unethical labor practices is considered a responsible and commendable action. It reflects a commitment to social justice and supports ethical consumerism.'], ['You have the option to buy fair-trade certified products that ensure fair wages and safe working conditions for laborers. These products cost more than non-certified alternatives, but you decide to buy them to support ethical practices. How acceptable is this behavior?', '5', 'Choosing to buy fair-trade certified products to support ethical practices is highly commendable and promotes social responsibility. Supporting fair wages and safe working conditions for laborers is crucial for fostering a more equitable global economy.'], ['You’ve found out that a company you often buy from is causing significant environmental harm. You decide to stop buying their products, even though their prices are lower than other options. How acceptable is this behavior?', '5', 'Choosing to stop buying from a company that harms the environment is a responsible and ethical decision, reflecting a commitment to sustainability and social responsibility.']]

In [142]:
df2 = pd.DataFrame(data_list, columns=["questions", "answer", "reasoning"])
df2.head()

,questions,answer,reasoning
0,"While shopping at a large retail store, you no...",1,Taking an item without paying is theft and is ...
1,You are in a clothing store and notice that a ...,1,Switching price tags is an act of dishonesty a...
2,You are in a clothing store and notice that a ...,1,Switching price tags is an act of dishonesty a...

In [147]:
# df3 = df2.groupby("questions") # groupby expects an aggregation function (use for sum/avg later)
df3 = df2 
df3["questions"] = df3["questions"].mask(df3["questions"].duplicated(), "")
df3.head()

,questions,answer,reasoning
0,"While shopping at a large retail store, you no...",1,Taking an item without paying is theft and is ...
1,You are in a clothing store and notice that a ...,1,Switching price tags is an act of dishonesty a...
2,,1,Switching price tags is an act of dishonesty a...

In [13]:
data_list = []
# looping all questions
for i, q in enumerate(questions, 1):
    for j in range(1, 3):
        response = get_response(q)
        res_list = response.choices[0].message.content.strip()#.split("\n")
        new_entry = [i, q, j, res_list]
        data_list.append(new_entry)

In [15]:
item = data_list[0]
for i in item:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>

In [14]:
# df_check = pd.DataFrame(data_list, columns=["#", "questions", "answer", "reasoning"])
df_check = pd.DataFrame(data_list, columns=["#", "questions", "iteration", "answer"])
df_check.index += 1
df_check

     #                                          questions  iteration answer
1    1  Drinking a can of soda in a supermarket withou...          1      1
2    1  Drinking a can of soda in a supermarket withou...          2      1
3    2  Changing price tags on merchandise in a retail...          1      1
4    2  Changing price tags on merchandise in a retail...          2      1
5    3  Giving misleading price information to a clerk...          1      2
..  ..                                                ...        ...    ...
70  35  Correcting a bill that has been miscalculated ...          2      5
71  36  Giving a larger than expected tip to a waiter ...          1      5
72  36  Giving a larger than expected tip to a waiter ...          2      5
73  37  Not purchasing products from companies that yo...          1      4
74  37  Not purchasing products from companies that yo...          2      5

[74 rows x 4 columns]

In [15]:
df_check["answer"] = df_check["answer"].astype("int")
# df["answer"] = pd.to_numeric(df["answer"], errors="coerce")
print(df_check.dtypes)
grouped = df_check.groupby("#")["answer"].mean()
df_check["averages"] = df_check.groupby("questions")["answer"].transform("mean")
df_check

#             int64
questions    object
iteration     int64
answer        int64
dtype: object

,#,questions,iteration,answer,averages
1,1,Drinking a can of soda in a supermarket withou...,1,1,1.0
2,1,Drinking a can of soda in a supermarket withou...,2,1,1.0
3,2,Changing price tags on merchandise in a retail...,1,1,1.0
4,2,Changing price tags on merchandise in a retail...,2,1,1.0
5,3,Giving misleading price information to a clerk...,1,2,2.0
...,...,...,...,...,...
70,35,Correcting a bill that has been miscalculated ...,2,5,5.0
71,36,Giving a larger than expected tip to a waiter ...,1,5,5.0
72,36,Giving a larger than expected tip to a waiter ...,2,5,5.0
73,37,Not purchasing products from companies that yo...,1,4,4.5
74,37,Not purchasing products from companies that yo...,2,5,4.5

In [43]:
df_check

,questions,answer,reasoning,averages
1,"While shopping at a large retail store, you no...",1,Taking an item without paying is theft and is ...,1.0
2,"While shopping at a large retail store, you no...",1,"Taking an item without paying is theft, which ...",1.0
3,"While shopping at a large retail store, you no...",1,Taking an item without paying is theft and is ...,1.0
4,"While shopping at a large retail store, you no...",1,Taking an item without paying is theft and is ...,1.0
5,"While shopping at a large retail store, you no...",1,Taking an item without paying is considered th...,1.0
...,...,...,...,...
71,You’ve found out that a company you often buy ...,4,Choosing to stop buying from a company that ha...,4.8
72,You’ve found out that a company you often buy ...,5,Choosing to stop buying from a company that ca...,4.8
73,You’ve found out that a company you often buy ...,5,Choosing to stop buying from a company that ca...,4.8
74,You’ve found out that a company you often buy ...,5,Choosing to stop buying from a company that ca...,4.8
75,You’ve found out that a company you often buy ...,5,This behavior is highly acceptable as it refle...,4.8

In [71]:
df_check2 = df_check.copy()
df_check2[["#", "questions",  "averages"]] = df_check2[["#", "questions", "averages"]].mask(df_check2[["#", "questions", "averages"]].duplicated(), "")
df_check2

,#,questions,answer,reasoning,averages
1,1,"While shopping at a large retail store, you no...",1,"Taking an item without paying is theft, regard...",1.0
2,,,1,"Taking an item without paying is theft, regard...",
3,,,1,Taking an item without paying is theft and is ...,
4,,,1,Taking an item without paying is theft and is ...,
5,,,1,Taking an item without paying is theft and is ...,
...,...,...,...,...,...
71,15,You’ve found out that a company you often buy ...,5,Choosing to stop buying from a company that is...,5.0
72,,,5,Choosing to stop purchasing from a company tha...,
73,,,5,Choosing to stop buying from a company that ha...,
74,,,5,This behavior is highly acceptable as it refle...,
75,,,5,Choosing to stop buying from a company that ha...,

In [34]:
df_check2.to_csv("df_check2.csv")

In [76]:
df_grp = pd.DataFrame(grouped)
df_grp.rename(columns={"#": "#", "answer":"averages"}, inplace=True)
# df_grp.index = range(1, len(df_grp)+1)
df_grp

    averages
#
1        1.0
2        1.0
3        2.0
4        2.2
5        2.8
6        1.6
7        1.8
8        1.0
9        1.0
10       2.6
11       1.8
12       1.0
13       4.6
14       5.0
15       5.0